
@import url('https://fonts.googleapis.com/css2?family=Raleway|Roboto&display=swap')

:root {
    --background-color: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--background-color);
}