
@import url('https://fonts.googleapis.com/css2?family=Raleway|Roboto&display=swap')

:root {
    --background-color: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--background-color);
}
.logo {
    font-family: "Raleway", sans-serif;
   
}
.logo {
    font-weight: 800;
   
}
.logo {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em ;
    text-transform: uppercase;

}
:root {
    --main-color: #4d5ae5; 
}
.logo {
    color: var(--main-color);

}
.link {
    text-decoration: none;
    
}

:root {
    --main-color: #2e2f42;
   
}

